{{ $loading := .Params.loading | default "lazy" }}
{{ $altText := .Params.CoverImageAltText | default "Default Alt Text" }}
{{ with .Params.coverimage }}
  <a href="{{ $.Page.Permalink }}">
    <img src="{{ . }}" alt="{{ $altText }}" loading="{{ $loading }}" width="600" height="300" style="display: block; margin: 0 auto;">
  </a>
{{ end }}

{{ with .Description }}
  <a href="{{ $.Page.Permalink }}">
    <h3 class="my-4 text-large text-slate-600 dark:text-slate-300">
      {{ . | $.Page.RenderString }}
    </h3>
  </a>
{{ else }}
  {{ if .Truncated }}
  <a href="{{ $.Page.Permalink }}">
    <h3 class="my-4 text-large text-slate-600 dark:text-slate-300">
      {{ .Summary }}
    </h3>
  </a>
  {{ end }}
{{ end }}
