{{ if ne .Params.Comments false }}

<script>
    function createComments() {
        setTimeout(() => {
            const toggleOption = localStorage.getItem('theme') ?? "dark";
            const themeName = toggleOption === 'light' ? "github-light" : "dark-blue";
            const newScriptTag = document.createElement('script');
            newScriptTag.src = "https://utteranc.es/client.js";
            newScriptTag.setAttribute('repo', 'gpskwlkr/website');
            newScriptTag.setAttribute('issue-term', 'pathname');
            newScriptTag.setAttribute('crossorigin', 'anonymous');
            newScriptTag.setAttribute('async', '');
            newScriptTag.setAttribute('defer', '');
            newScriptTag.setAttribute('data-utterances', '');
            newScriptTag.setAttribute('theme', themeName);
            newScriptTag.setAttribute('id', 'utterances-comments');
            document.getElementsByClassName("comments-container")[0].appendChild(newScriptTag);
        }, 0)
    }

    (function () {
        const themeToggle = document.querySelector('.darkmode-toggle input');

        createComments();

        themeToggle.addEventListener('change', () => {
            const comments = document.querySelector('.utterances');
            comments.remove();
            createComments();
        })

    })()
</script>

{{ end }}
