<script
  async
  defer
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-{{$.Site.Params.adSenseId}}"
  crossorigin="anonymous"
></script>

<script
  async
  defer
  src="https://www.googletagmanager.com/gtag/js?id={{.Site.Config.Services.GoogleAnalytics.ID}}"
></script>
<script async defer>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "{{.Site.Config.Services.GoogleAnalytics.ID}}");
</script>
