<script async defer
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-{{ site.Params.adSenseId }}"
    crossorigin="anonymous" type="text/partytown"></script>

<script async defer src="https://www.googletagmanager.com/gtag/js?id={{ site.Config.Services.GoogleAnalytics.ID }}"
    type="text/partytown"></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", '{{ site.Config.Services.GoogleAnalytics.ID }}');
</script>
